<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HTMX Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>

<div class="wrapper">
    <div th:insert="common.html :: header"></div>
    <div class="mainContent">
    <h2>Long running tasks</h2>
    This section would perform the below tasks <em>without reloading the page</em>
    <ul>
        <li>Trigger some long-running async tasks</li>
        <li>Periodically check for status updates</li>
        <li>Stop the periodic check once all the tasks are completed</li>
    </ul>

    <p>
        The below demo simulates a travel assistant website that looks for best deals across multiple websites
    </p>

    <div th:fragment="taskDetails" id="taskDetails">

        <div th:if="${!isProcessing}">
            <button hx-post="/htmx/submit-task"
                    hx-swap="outerHTML"
                    hx-target="#taskDetails">Find best deal!</button>
            <h3 th:if="${!tasks.isEmpty()}">Evaluation completed.</h3>
            <table>
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.name}"></td>
                    <td th:if="${task.status == 'NOT_STARTED'}" class="trYetToStart">yet to evaluate</td>
                    <td th:if="${task.status == 'STARTED'}" class="trInProgress">evaluating</td>
                    <td th:if="${task.status == 'COMPLETED'}">evaluation completed</td>
                    <td th:text="${#numbers.formatDecimal(task.score, 2,2)}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${isProcessing}">
            <h3>Evaluating best deals ...</h3>
            <div class="progressBar">
                <div class="progress" th:text="${completionPercentage}+'%'" th:style="${'width:'+ completionPercentage +'%'}"></div>
            </div>
            <table hx-get="/htmx/check-status"
                   hx-trigger="load delay:1s"
                   hx-target="#taskDetails"
                   hx-swap="outerHTML">
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.name}"></td>
                    <td th:if="${task.status == 'NOT_STARTED'}" class="trYetToStart">yet to evaluate</td>
                    <td th:if="${task.status == 'STARTED'}" class="trInProgress">evaluating</td>
                    <td th:if="${task.status == 'COMPLETED'}">evaluation completed</td>
                    <td th:text="${#numbers.formatDecimal(task.score, 2,2)}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
    <div th:insert="common.html :: footer"></div>
</div>
</body>
</html>